<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="Css/style.css">
</head>

<body>
    <div class="header">
        <h1>HEADER</h1>
    </div>
    <div class="nav">
        <H1>NAV</H1>
    </div>
    <div class="main">
        <H1>MAIN</H1>
        <div class="article">
            <H1>ARTICLE</H1>
            <div class="aside">
                <H1>ASIDE</H1>
            </div>
        </div>
    </div>
    <div class="footer">
        <H1>FOOTER</H1>
    </div>
</body>

</html>