.caixa div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    /*tamanho da linha*/
    font-size: 30px;
}

.caixa {
    display: flex;
    flex-direction: row-reverse;
    /*direção*/
    justify-content: center;
    flex-wrap: wrap;
    /*Modelo pc para celular*/
}